services:
  server:
    build: .
    image: bank-server
    container_name: bank-server
    env_file:
      - .env.server
    ports:
      - "8080:8080"
    depends_on:
      - rabbitmq
      - postgres
      - redis

  postgres:
    image: postgres:16
    container_name: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env.db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  postgres-data:
